* {
    font-family: "Inter", sans-serif;
}
.row img {
    height: 60px;
}
#bar {
    font-size: 35px;
}
figure img {
    height: 60px;
}
.whatsappbtn {
    border: 1px solid #27AE60;
    padding: 10px 18px;
    color: #27AE60;
    font-size: 16px;
}
.whatsappbtn i {
    color: #27AE60;

}
.whatsappbtn:hover {
    border: 1px solid #27AE60;

}

.call {
    color: white;
    padding: 10px 18px;
    background:linear-gradient(to right, #0ACEFE, #2699FB);
}

.banner-content h1 {
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    line-height: 52px;

}
.banner-content h1 span {
    color: #2699FB;

}
.banner-content p {
    font-size: 22px;
}
.banner-content ul {
    list-style: none;
}
.banner-content ul li {
    font-size: 22px;

}
.banner-content ul li i {
    color: #2699FB;
}


.bannercontentBtn button {
    width: 50%;
    padding: 10px 0px;
    border-radius: 5px;
    font-size: 14px;

}
.bannercontentBtn button:first-child {
    color: white;
    background: linear-gradient(to right,#0ACEFE,#2699FB);
}
.bannercontentBtn button:second-child {
    padding: 10px 0px;
}
.banner-form {
    padding: 40px;
    border-radius: 10px;
}
.banner-form h3 {
    font-size: 18px;
    font-weight: 700;
}
.banner-form button {
    width: 100%;
    padding: 10px 0px;
    background: linear-gradient(to right,#0ACEFE,#2699FB);
    border: none;
    color: white;
}

.counterSection h2 {
    font-size: 30px;
    font-weight: 700;
    color: #2699FB;

}

.highlights-section {
    background-color: #f7faff;
}
.highlights-section h2 {
    color: #0A2134;
    font-size: 36px;
    font-weight: 700;
}
.highlights-section h4 {
    padding-left: 13px;
}
.highlights-section p {
    font-size: 14px;
}
#icon {
    font-size: 68px;
}
.navbar-nav {
    font-weight: bold;
    margin-right: 15px;
    color: #0ACEFE;
}

.tableItemsContent ul {
    list-style: none;
}
.tabMySystem  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #F2F4F7;
    color: #0A2134;
    border-radius: 0px;
    border-bottom: 2px solid blue;

}

 
    